/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* solarized theme colors */
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

/* semantic color variables for this project */
/* light color scheme */
:root {
  --base-padding-horizontal: 100px;
  --base-padding-vertical: 50px;

  --color-background: var(--base3);
  --color-background-hover: var(--base2);
  --color-border: var(--base03);
  --color-text: var(--base03);
  --color-badge: var(--base01);
  --color-badge-text: var(--base3);

  --border-thickness: 1px;
  --border-radius: 2px;

  --intro-width: 350px;

  --profile-picture-border-color: var(--base2);
  --profile-picture-size: 200px;
  --profile-picture-border-thickness: 2px;

  --progress-bar-height: 10px;
  --progress-bar-color: var(--green);

  --badge-horizontal-padding: 5px;
  --badge-vertical-padding: 2px;
  --badge-border-radius: 5px;
}

/* TODO: dark color scheme */
/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
