@import './base.css';

body {
  padding: var(--base-padding-vertical) var(--base-padding-horizontal);
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 15px;
  line-height: 1.5;

  cursor: default;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
}

.center-self {
  align-self: center;
}

.title {
  font-weight: bold;
  font-size: 30pt;
}

.subtitle {
  font-weight: bold;
  font-size: 25pt;
}

.subsubtitle {
  font-weight: bold;
  font-size: 20pt;
}

.text {
  font-weight: normal;
  font-size: 15pt;
}

.bold {
  font-weight: bold;
}

.thin-border {
  border: var(--border-thickness) solid var(--color-border);
}

.rounded-border {
  border-radius: var(--border-radius);
}

.padded {
  padding: var(--border-padding-vertical) var(--border-padding-horizontal);
}

.pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.debug {
  border: 1px solid red;
}
