@import './base.css';
@import './margins.css';
@import './fonts.css';

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: var(--base-padding-vertical) var(--base-padding-horizontal);
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

  cursor: default;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.center {
  text-align: center;
}

.center-self {
  align-self: center;
}

.thin-border {
  border: var(--border-thickness) solid var(--color-border);
}

.rounded-border {
  border-radius: var(--border-radius);
}

.sharp-border {
  border-radius: 0;
}

.debug {
  border: 1px solid red;
}

.white-bg {
  background: var(--white);
}

.lighter-border {
  border-color: var(--base0);
}
